 #contact-us-map #map {
 	width: 100%;
 	height: 500px;
 	
 }
 .mapbackground {
 	background: #333333;
 }

 #contact-address {
 	padding:70px 0;
 	h3 {
 		opacity: 0.88;
 		color: #393939;
 		font-family: 'Montserrat', sans-serif;
 		font-size: 1.125rem;
 		font-weight: 700;
 		letter-spacing: 1px;
 		line-height: 40px;
 		text-align: left;
 		padding: 0px 0px 4px 25px;
 		background: linear-gradient(to right,#4A2970 0%, #E52D78 50%);
 		-webkit-background-clip: text;
 		-webkit-text-fill-color: transparent;
 	}
 	p {
 		color: #727171;
 		font-family: Montserrat;
 		font-size: 1rem;
 		font-weight: 300;
 		line-height: 25px;	
 	}
 	p.address{
 		min-height: 115px;
 	}
 	p.phone{
 		min-height: 45px;
 	}
 	.media img{
 		margin-top: 4px;
 	}

 }