#footer {
    background-color: #353745;
    padding: 16px;
    #footer-links {
        .fa-pinterest-p:before {
            color: #ccc;
            font-size: 20px;
        }
        font-family: 'Montserrat',
        sans-serif;
        .footer-img {
            text-align: center;
            padding-bottom: 1rem;
            @media (max-width: 500px) {
                text-align: left;
            }
        }
        .brder-btm-footer {
            border-bottom: 0.01rem solid #7F829A;
        }
    }
    hr {
        opacity: 0.1;
        background-color: #FFFFFF;
    }
    .social-icon {
        a {
            display: inline-block;
            padding: 15px;
            margin-right: 15px;
            margin-bottom: 10px;
            background-color: #3A3C4C;
            &:hover {
                background: linear-gradient(139.48deg, #A97A8D 0%, #E52D78 3.83%, #542970 80.82%, #542970 80.82%, #4A2970 100%);
            }
            img {
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }
    ul {
        list-style: none;
        padding: 0px;
        li {
            a {
                color: #7F829A;
                font-family: 'Montserrat', sans-serif;
                font-size: 0.8rem;
                font-weight: 300;
                outline: none;
            }
        }
    }
    .social-footer {
        p {
            strong {
                color: #A5A8BB;
                font-size: 0.8rem;
            }
        }
    }
    .palce-content {
        h4 {
            color: #A5A8BB;
            font-size: 1rem;
            padding: 1rem;
            text-transform: uppercase;
            @media (max-width: 500px) {
                padding: 0rem;
            }
        }
        .social-add {
            padding: 1rem;
            @media (max-width: 500px) {
                padding: 0rem;
            }
            p:first-child {
                color: #7F829A;
                font-size: 0.8rem;
                min-height: 100px;
                @media (max-width: 500px) {
                    min-height: 0px;
                }
            }
            p {
                a {
                    color: #7F829A;
                    font-size: 0.8rem;
                    text-decoration: none;
                }
            }
        }
        .social-places {
            text-align: center;
            @media (max-width: 500px) {
                text-align: left;
            }
        }
    }
    .copyright {
        p {
            color: #7F829A;
            font-size: 1rem;
        }
    }
}
@media (max-width: 500px) {
    footer {
        &.section {
            margin-top: 0px;
        }
    }
    #footer {
        ul {
            li {
                a {
                    font-size: 0.7rem;
                    padding: .5rem 0rem;
                }
            }
        }
        .social-icon {
            a {
                padding: 10px;
                margin-right: 8px;
            }
        }
    }
}