@import '../common/common.scss';
#navigation{
	position: fixed;
	width: 100%;
	z-index: 99999;
	background: #FFF;
	top: 0px;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.03);
	.dropdown {
		position: static;
	}
	.request-a-qoute {
		@include theme-btn(transparent,20px,auto,#fff,1rem,100,1,center);
		@include btn-gradient(90deg,#E52D78,50%,#E52D78,60%,#4A2970,150%);
		&:hover{
			color: #E52D78 !important;
			background: #fff;
			border: 2px solid #E52D78;
		}
	}
	.navbar-nav {
		.nav-item{
			min-width: 160px;
			text-align: center;
			.nav-link {
				font-family: 'Montserrat', sans-serif;
				color: #65537A;
				font-size: 0.9rem;
				font-weight: 600;
				
			}
			
		}
	}
	.dropdown-menu {
		width: 100%;
		left: 0;
		right: 0;
		top: 106px;
		border: none;
		padding: 20px 0;
		
		
		&:before {
			content: ' ';
			width: 0;
			height: 0;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 16px solid #ffffff;
			position: absolute;
			left: 37%;
			top: -15px;
		}
		
	}
	.solution {
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		.brder-btm {
			border-bottom: 0.5px solid #DFDFDF;
		}
		.nav-head {
			h3{
				font-size: 1.6rem;
				color: #65537A;
			}
			p {
				font-size: 0.7rem;
				color: #8D8D8D;
				font-weight: 700;
			}
		}
		h3{
			font-size: 1rem;
			color: #65537A;
		}
		p{
			color: #8D8D8D;
			font-size: 0.7rem;
		}
		/* ul {
			list-style: none;
			padding: 0px;
			li { */
				
				a {
					color: #8D8D8D;
					font-size: 0.7rem;
					text-decoration: none;
    				outline: none;

				}
		/* 	}
		} */
	}
} 
@media (max-width: 500px){ 
	#navigation{
		.solution {
			height: 200px;
			overflow-x: scroll;
		}
	} 
}