#solutionb2b-dm {
    width: 100%;
    min-height: 65vh;
    background-image: linear-gradient(rgba(229, 45, 120, 0.77), rgba(76, 41, 112, 0.68)), url('../images/solution_b2b/B2B/Digital_marketing_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#solutionb2b-rch {
    width: 100%;
    min-height: 65vh;
    background-image: linear-gradient(rgba(229, 45, 120, 0.77), rgba(76, 41, 112, 0.68)), url('../images/solution_b2b/B2B/Recruitment_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#solutionb2b-so {
    width: 100%;
    min-height: 65vh;
    background-image: linear-gradient(rgba(229, 45, 120, 0.77), rgba(76, 41, 112, 0.68)), url('../images/solution_b2b/B2B/Staffing&outsourcing.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#solutionb2b-ts {
    width: 100%;
    min-height: 65vh;
    background-image: linear-gradient(rgba(229, 45, 120, 0.77), rgba(76, 41, 112, 0.68)), url('../images/b2b-overlay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#recruitment_consulting {
    .img-circle {
        width: 160px;
        height: 160px;
        padding: 45px 0px;
        border-radius: 50%;
        box-shadow: 0 2px 44px 2px rgba(150, 150, 150, 0.11);
        text-align: center;
        margin: 0 auto;
        @media screen and (max-width: 500px) {
            width: 120px;
            height: 120px;
            padding: 28px 0px;
        }
    }
}

.wep-container {
    .imageContent {
        text-align: center;
    }
    // .b2b-text {
    //     h3 {
    //         font-family: 'Montserrat', sans-serif;
    //         color: #7C7C7C;
    //         font-size: 36px;
    //         @media screen and (max-width: 500px) {
    //             font-size: 1rem;
    //         }
    //     }
    // }
}

@media screen and (max-width: 500px) {
    .circle-box {
        .col {
            min-width: 50%;
            max-width: 50%;
            margin: auto;
        }
    }
}

.cources-platform {
    text-align: center;
    p {
        font-family: 'Montserrat', sans-serif;
        color: #604381;
        font-weight: 500;
        margin-top: 3rem;
    }
}

.customsection {
    background-color: rgba(0, 0, 0, 0.02);
    .projectheading {
        text-align: center;
        h3 {
            font-family: 'Montserrat', sans-serif;
            color: #2F2F2F;
            font-size: 2.1rem;
        }
    }
    .projectheading-sub {
        padding-top: 20px;
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            margin-top: 50%;
            padding-top: 0;
        }
        h3 {
            font-family: 'Montserrat', sans-serif;
            color: #2F2F2F;
            font-size: 1.9rem;
            color: #677897;
            text-align: left;
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                font-size: 1rem;
            }
        }
        p {
            font-family: 'Montserrat', sans-serif;
            text-align: left;
            color: #677897;
            font-size: 1rem;
            margin-top: 25px;
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                font-size: 0.8rem;
                margin-top: 15px;
            }
        }
    }
    .swiper-pagination-bullet-active {
        background: linear-gradient(136.26deg, #664A85 0%, #D94486 100%);
    }
    .swiper-container {
        width: 100%;
        height: 450px;
        padding: 0px 50px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;
        font-family: 'Montserrat', sans-serif;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    /* .swiper-container-vertical>.swiper-pagination-bullets {
        bottom: 50%!important;
        width: auto;
        right: 10px!important;
        left: 95%;
    }*/
}

@media screen and (max-width: 768px) {
    #slidershow {
        margin-bottom: 80px;
        a {
            img {
                top: 0!important
            }
        }
    }
    .customsection {
        .swiper-container {
            padding: 10px 20px 0px 0px;
        }
        .projectheading-sub {
            p {
                font-size: 0.7rem;
            }
        }
    }
}