@import '../common/common.scss';
h1,
h2,
p {
    font-family: 'Montserrat', sans-serif;
}

.mg-top {
    margin-top: 20px;
}

.mg-top60 {
    margin-top: 60px;
}

#wexos-informatica,
#digital-solution {
    @media screen and (max-width: 768px) {
        img {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}

.btn-theme {
    @include theme-btn(transparent, 20px, 30%, #fff, 1rem, 600, 1rem, center);
    @include btn-gradient(90deg, #E52D78, 50%, #E52D78, 60%, #4A2970, 150%);
    &:hover {
        color: #E52D78!important;
        background: #fff;
        border: 2px solid #E52D78;
    }
}

@media screen and (max-width: 500px) {
    .btn-theme {
        margin: 0 auto;
        display: block;
        padding: 7px;
        font-size: 0.8rem;
    }
}

#home-swiper {
    img {
        @media screen and (max-width: 500px) {
            margin-top: 60px;
        }
    }
    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        background: linear-gradient(to right, #4A2970 0%, #E52D78 78%);
    }
    .swiper-pagination {
        text-align: right;
        right: 4%!important;
        left: unset!important;
    }
    @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: landscape) {
        margin-top: 15%;
    }
    @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
        margin-top: 15%;
    }
}


#business-solution {
    @media screen and (max-width: 1000px) {
        margin-top: 10%;
    }
    img {
        width: 100px;
        height: 110px;
    }
    .nav-tabs {
        margin-top: 60px;
        border-bottom: 4px solid rgba(233, 70, 136, 0.25);
    }
    .nav-item:hover {
        border-radius: 8px 8px 0 0;
        background-color: rgba(252, 215, 230, 0.19);
    }
    .nav-tabs .nav-link {
        min-height: 60px;
        max-height: 60px;
        color: #7a287a;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 19px;
        text-align: center;
        padding: 16px;
        max-width: 255px;
        min-width: 255px;
        background: linear-gradient(to right, #4A2970 0%, #E52D78 78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid transparent;


        &.active {
            border: none;
            box-shadow: 0 5px 0px -1px #e52d78;
        }
    }
    @media screen and (max-width: 500px) {
        .nav-tabs .nav-link {
            font-size: 0.6rem;
            max-width: 100%!important;
            min-width: 100%!important;
        }
    }
    @media screen and (max-width:1024px) {
        .nav-tabs .nav-link {
            font-size: 1rem;
            font-weight: 600;
            line-height: 19px;
            text-align: center;
            padding: 14px;
            max-width: 230px;
            min-width: 230px;
        }
    }

    @media screen and (max-width:768px) {
        .nav-tabs .nav-link {
            // font-size: 0.8rem;
            // max-width: 170px;
            // min-width: 170px;
            font-size: 0.6rem;
            max-width: 120px;
            min-width: 120px;
            padding: 5px;
        }
    }
    @media screen and (max-width:600px) {
        .nav-tabs .nav-link {
            font-size: 0.6rem;
            max-width: 115px;
            min-width: 115px;
            padding: 3px;
        }
    }
    @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: landscape) {
        .nav-tabs .nav-link {
            max-width: 170px;
            min-width: 170px;
            font-size: 0.7rem;
        }
    }
    @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
        .nav-tabs .nav-link {
            max-width: 115px;
            min-width: 115px;
            font-size: 0.7rem; // padding: 7px;
        }
    }

    .card {
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.08);
        h3 {
            color: #604381;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.333rem;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 60px;
            text-align: center;
        }
        @media screen and (max-width: 500px) {
            h3 {
                font-size: 1rem;
            }
            p {
                font-size: 0.7rem!important;
                line-height: 25px!important;
            }
            figcaption {
                font-size: 10px!important;
            }
        }
        p {
            color: #818182;
            font-size: 0.8889rem;
            text-align: center;
            line-height: 30px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            line-height: 20px;
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                font-size: 0.76rem;
            }
        }
        figcaption {
            color: #383838;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            font-weight: 300;
            line-height: 19px;
            text-align: center;
        }
        .development {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .text-center.more {
            /*  margin-bottom: 30px; */
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            hr {
                border: 1px solid #E94688;
                margin-top: 0rem;
                margin-bottom: 0rem;
                width: 3%;
            }
        }
        .text-center.more a {
            color: #E94688!important;
            text-decoration: none;
        }
    }
}

#strength-lie {
    @media screen and (max-width: 1000px) {
        margin-top: 10%;
    }
    p {
        color: #604381;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        margin-top: 20px;
        text-align: center;
        font-weight: 600;
    }


    .strength-circle {
        margin-top: 60px;
    }
}

#testimonial {

    /*html, body {
    position: relative;
    height: 100%;
}*/
    .card-body {
        min-height: 465px;
        max-height: 465px;
        @media screen and (max-width: 500px) {
            min-height: none!important;
            max-height: none!important;
        }
        @media screen and (min-width: 1900px) {
            min-height: 325px;
            max-height: 325px;
        }
    }
    .swiper-container {
        width: 100%; // height: 100%;
    }
    .swiper-pagination {
        position: initial;
    }
    span.swiper-pagination-bullet {
        width: 17px;
        height: 17px;
        margin-top: 30px!important;
        border: 1px solid #DFDFDF;
        background-color: #F6F6F6;
        &.active {
            border: 1px solid #DFDFDF;
            background-color: #F6F6F6;
        }
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .card {
        display: -ms-flex;
        width: 80%;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.11);
    }
    .media-body {
        margin-top: 10px;
    }
    img {
        height: 53.92px;
        width: 53.92px;
    }
    h5 {
        color: #545454;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px; // line-height: 30px;  
        text-align: left;
    }
    p {
        color: #CECECE;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        line-height: 10px;
        text-align: left;
    }
    .description {
        color: #8C8C8C;
        ;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px!important;
        line-height: 30px!important;
        text-align: center!important;
        font-style: italic;
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            font-size: 12px!important;
        }
    }
    hr {
        width: 25%;
    }
}

#contact-form {
    padding: 60px;
    opacity: 0.88;
    background: linear-gradient(154.54deg, #E52D78 0%, #E52D78 0.83%, #542970 54.82%, #542970 0%, #4A2970 100%);
    .form-control {
        width: 96%;
        height: 50px;
        border: 1px solid #D8D8D8;
        border-radius: 3px;
        background-color: #FFFFFF;
        @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: landscape) {
            width:100%;
        }
        @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
            width: 100%;
        }
    }
    textarea.form-control {
        width: 98%;
        height: 146px;
        border-radius: 3px;
        @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: landscape) {
            width:100%;
        }
        @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
            width: 100%;
        }
    }
    #contact-form .form-control::-webkit-input-placeholder {
        color: #BBBBBB;
        font-family: 'Avenir Next', sans-serif;
        font-size: 12px;
        line-height: 19px;
    }
    #contact-form textarea.form-control::-webkit-input-placeholder {
        color: #BBBBBB;
        font-family: 'Avenir Next', sans-serif;
        font-size: 12px;
        line-height: 19px;
    }
    button {
        border: 1px solid #D8D8D8;
        border-radius: 6px;
        background-color: #FFFFFF;
        color: #BBBBBB;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
        padding: 10px 50px 9px 47px;
        margin-top: 50px;
    }
    h2 {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 36px;
    }
    h3 {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 15px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    #contact-form {
        padding: 0!important;
        .form-control {
            width: 100%;
        }
        h2 {
            margin-bottom: 10px;
            font-size: 20px;
            margin-top: 10px;
        }
        .form-inline {
            margin-top: 0!important;
        }
        button {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
    #strength-lie {
        .col {
            min-width: 50%;
            max-width: 50%;
            margin: auto;
        }

        p {
            line-height: 22px;
        }
        h2 {
            font-size: 1rem;
        }
        h5 {
            font-size: 0.7rem;
            line-height: 15px;
        }
    }
    #business-solution .nav-tabs {
        margin-top: 0;
    }
    .nav-tabs .nav-item {
        margin: auto;
        width: 100%;
    }
}


.error-page {
    img {
        width: 500px;
        margin-top: 20%;
        margin-bottom: 20%;
        @media screen and (max-width: 500px) {
            margin-top: 40%;
        }
    }
}