@keyframes load {
    0% {
        stroke-dashoffset: 0
    }
}

.custom-progress {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
    &>li {
        display: inline-block;
        position: relative;
        text-align: center;
        color: #93A2AC;

        margin: 0.5rem 2rem;
        &:before {
            content: attr('');
            position: absolute;
            width: 100%;
            bottom: -2rem;
        }
        &:after {
            content: attr(data-name);
            position: absolute;
            width: 100%;
            top: 2.7rem;
            left: 0;
            text-align: center;
        }
    }
    svg {
        width: 8.67rem;
        height: 8.67rem;
        &:nth-child(2) {
            position: absolute;
            left: 0;
            top: 0;
            transform: rotate(-90deg);
        }
        &:nth-child(2) path {
            fill: none;
            stroke-width: 25;
            stroke-dasharray: 629;
            stroke: #fff;
            opacity: .9;
            animation: load 10s;
        }
    }
}

#aboutus {

    .padngtop {
        padding-top: 7rem;
    }
    .text-container {
        h1 {
            font-size: 2.2rem;
            color: #2F2F2F;
            letter-spacing: 0.2rem;
            padding-bottom: 1rem;
            @media screen and (max-width: 500px) {
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
    }
    .about-section {

        .aboutcontent {

            h2 {
                font-size: 2.2rem;
                color: #7C7C7C;
                padding-bottom: 1rem;
                @media screen and (max-width: 500px) {
                    font-size: 1rem;
                    margin-top: 1rem;
                }
            }
        }
        .video-box {
            video {
                width: -webkit-fill-available;
                height: auto;
            }
        }
        h3 {
            text-align: center;
            color: #7C7C7C;
            font-size: 2.2rem;
            @media screen and (max-width: 500px) {
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
        p {
            color: #7C7C7C;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
        }
    }
    .team-section {
        h3 {
            text-align: center;
            color: #7C7C7C;
            font-size: 2.2rem;
            @media screen and (max-width: 500px) {
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
        .team-container {
            .custom-card {

                border: none;
                .custom-title {
                    color: #7C7C7C;
                    font-size: 1rem;
                    font-weight: 500;
                }
                p {
                    color: #7C7C7C;
                    font-size: 0.9rem;
                }
                .team-desc {
                    min-height: 7rem!important;
                }
                a {
                    color: #604381;
                    font-size: 0.8rem;
                    text-decoration: none;
                }
            }
            .team-border {
                width: 25%;
                margin: 20px 0;
                border: 1px solid #9a2c73;
            }
        }
    }
}

#life-at-wexos {
    p {
        text-align: center;
    }
    .swiper-button-next {
        right: -18px;
        @media (max-width: 500px) {
            right: 18px;
            height: 20px;
            top: 59%;
        }
    }
    .swiper-button-prev {
        left: -18px;
        @media (max-width: 500px) {
            left: 18px;
            height: 20px;
            top: 59%;
        }
    }
}

@media (max-width: 500px) {
    .about-box {
        padding: 15px;
    }
    .author-img {
        img {
            display: block;
            margin-right: auto;
            margin-left: auto;
            max-width: 80%;
            margin-top: 15px;
        }
    }
}


#contact-form {
    label {
        padding: 4px 20px;
        background-color: #932C6F;
        display: table;
        color: #fff;
        border-radius: 6px;
    }
    input[type="file"] {
        display: none;
    }
    .upload-file {
        background: #fff;
        padding: 10px;
        min-width: 98%;
        border-radius: 3px;
        border: 2px dashed rgba(0, 0, 0, 0.64);
    }
}