body {
    overflow-x: hidden!important;
}

.banner-text {
    h1 {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.25rem;
        text-align: center;
        @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
            font-size: 2rem;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            font-size: 2rem;
        }
    }
    @media screen and (max-width: 500px) {
        h1 {
            font-size: 1.5rem;
        }
    }
    p {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 55px;
        text-align: center;
    }
    @media screen and (max-width: 500px) {
        p {
            font-size: 1rem;
        }
    }
}

.b2c-banner {
    background-image: linear-gradient(rgba(74, 41, 112, 0.8901960784313725), rgba(229, 45, 120, 0.8117647058823529)), url(../images/solution_b2b/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 65vh!important;
}

.b2c-hubstree {
    background-image: linear-gradient(rgba(74, 41, 112, 0.8901960784313725), rgba(229, 45, 120, 0.8117647058823529)), url(../images/Banners/Hubstree_banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 65vh!important;
}

.b2c-credibleminds {
    background-image: linear-gradient(rgba(74, 41, 112, 0.8901960784313725), rgba(229, 45, 120, 0.8117647058823529)), url(../images/Banners/Credibleminds_banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 65vh!important;
}

.b2c-skysspark {
    background-image: linear-gradient(rgba(74, 41, 112, 0.8901960784313725), rgba(229, 45, 120, 0.8117647058823529)), url(../images/Banners/Skyspark_banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 65vh!important;
}

#try_free {
    padding: 70px 0;
    opacity: 0.88;
    background: linear-gradient(133.84deg, #E52D78 0%, #E52D78 24.68%, #4C2970 92.68%, #4C2970 92.68%, #4C2970 92.68%, #4C2970 92.68%, #4C2970 92.68%, #4A2970 100%), url(../images/solution_b2b/try-for-free.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-blend-mode: soft-light;
    .try-for-freecontent {
        /*background-image: url(../images/solution_b2b/try-for-free.png);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
height: 140%;*/
    }
    p {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        line-height: 30px;
        text-align: center;
    }
    h2 {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 70px;
        text-align: center;
    }
    .freebackground {}
    @media screen and (max-width: 500px) {
        #try_free {
            padding: 40px;
        }
        h2 {
            font-size: 1.6rem;
        }
        p {
            font-size: 0.8rem;
            line-height: 16px;
        }
    }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: linear-gradient(124deg, #E52D78 46%, #E52D78 25%, #4A2970 150%) !important;
}

