.section-gap{
	padding: 100px 0;
}
.mg-bottom30{
	margin-bottom: 30px;
}
.mg-bottom60{
	margin-bottom: 60px;
}
#resource-tab .nav-tabs{
	border-bottom: none;
	.nav-item{
		padding: 6px 16px;
	}
	.nav-link {
		color: #919191!important;	
		font-family: 'Montserrat', sans-serif;	
		font-size: 1.5rem;	
		line-height: 29px;
		font-weight: 600;
		border:none;
		cursor: pointer;
		&.active{
			color: #B9337A!important;
			border:none;
		}
		&:hover{
			border:none;
		}
	}
	@media screen and (max-width: 500px){
		.nav-link{
			font-size: 1rem;
		}
		.nav-tabs{
			margin-bottom: 30px!important;
		}
	}
}
#filter-box{
	.card{
		border:none;
		border-radius:0;
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.08);
		border-bottom: 5px solid #CD3079;
		h5{
			color: #404040;	
			font-family: 'Montserrat', sans-serif;		
			font-size: 1.5rem;	
			line-height: 29px;
		}
		@media screen and (max-width: 500px){
			h5{
				font-size: 1rem;
				text-align: center;
			}
		}
		p{
			color: #9A9A9A;	
			font-family: 'Montserrat', sans-serif;
			font-size: 0.875rem;	
			font-weight: 300;	
			line-height: 20px;
		}
		img.card-img-top{
			height: 242px!important;
		}
		a{
			color: #369DF5;	
			font-family: 'Montserrat', sans-serif;	
			font-size: 0.75rem;	
			line-height: 20px;
			text-decoration: none;
		}
		.wexos-year{
			p{
				color: #212529;	
				font-family: 'Montserrat', sans-serif;	
				font-size: 0.75rem;	
				line-height: 20px;
				margin-top: 0;
				margin-bottom: 0rem;
				font-weight: 600;
				// text-align: right;
				span{
					color: #9A9A9A;	
				}
			}
		}
	}
}

// Terms and condition

// resource case study
.casestudy_banner{
	background-image:linear-gradient(rgba(74, 41, 112, 0.8901960784313725), rgba(229, 45, 120, 0.8117647058823529)),url(../images/solution_b2b/banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 65vh;
}
#casestudy_product{
	.image p{
		color: #A1A1A1!important;	
		font-family: 'Montserrat',sans-serif;	
		font-size:0.75rem!important;	
		font-weight: 300!important;	
		letter-spacing: 1px!important;	
		line-height: 15px!important;	
		text-align: left!important;
	}
	hr.parent{
		margin-bottom: 2rem;
	}
	h1{
		color: #fff;	
		font-family: 'Montserrat',sans-serif;	
		font-size: 2.5rem;	
		line-height: 49px;
		padding: 20px 0px;
		font-weight: 600;
	}
	p:nth-child(1){
		color: #285B8D;	
		font-family: "Avenir Next" , sans-serif;	
		font-size: 1.5rem;	
		line-height: 33px;	
		text-align: center;
	}
	p:nth-child(2){
		color: #373737;	
		font-family: "Avenir Next" , sans-serif;	
		font-size:  0.75rem;	
		letter-spacing: 2px;	
		line-height: 14px;	
		text-align: center;
	}
	ul{
		padding: 0;
	}
	ul li{
		list-style-type: none;
		text-align: center;
		border: 1px solid #A6AEBA;
		border-radius: 50%;
		display: block;
		width: 30px;
		height: 30px;
		margin: auto;
		line-height: 2;
		margin-bottom: 20px;
	}
	svg{
		box-sizing: border-box;
		height:15px;
		width: 15px;
	}

	h2{
		color: #373737;	
		font-family: 'Montserrat',sans-serif;	
		font-size: 1.3rem	;
		font-weight: bold;	
		line-height: 23px;
	}
	h4{
		font-family: "Avenir Next",sans-serif;	
		font-size: 0.875rem;	
		font-weight: bold;	
		letter-spacing: 1px;	
		line-height: 19px;	
		text-align: left;
		font-weight: 800;
	}
	h5{
		color: #777777;	
		font-family: 'Montserrat',sans-serif;	
		font-size: 0.98rem;	
		line-height: 25px;
	}
	h5.date{
		color: #1B1B1B;	
		font-family: 'Montserrat',sans-serif;	
		font-size: 14.44px;	
		line-height: 20px;
		font-weight: 600;
		letter-spacing: 2px;
	}
	h5.blog_links{
		color: #285B8D;	
		font-family: 'Montserrat',sans-serif;	
		font-size: 14.44px;	line-height: 20px;
	}
	.vw-nxt-blog{
		padding: 50px 0px;
		h5{
			color: #285B8D;	
			font-family: 'Montserrat',sans-serif;	
			font-size:0.8125rem;	
			font-weight:600;	
			letter-spacing: 3px;	
			line-height: 16px;	
			text-align: right;
			a{
				text-decoration: none;
				color: #285B8D;
				font-weight:600;
			}
			.fa-chevron-right:before{
				color: #F4A657;
			}
		}
	}
	@media screen and (max-width: 500px){
		h1{
			font-size: 1rem;
			line-height: 22px;
		}
		h2{
			font-size: 0.8rem;
			line-height: 20px;
		}
		h5{
			font-size: 0.7rem;
		}
		h5.date,h5.blog_links{
			font-size: 0.75rem;
		}
		
		p:nth-child(2){
			font-size: 0.5rem;
		}


	}
	@media screen and (max-width: 768px){
		h1{
			font-size: 1.3rem;
			line-height: 30px;
		}
		h4,h5{
			font-size: 0.7rem;
		}
		h2{
			font-size: 1rem;
		}
		h5.date,h5.blog_links{
			font-size:0.625rem;
		}
		.vw-nxt-blog h5{
			font-size: 0.5rem;
		}
		
	}
	

}