           <footer class="container-fluid" id="footer">
    <div class="container" id="footer-links">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-3 align-self-center">
                <div class="footer-img">
                    <img src="assets/images/footer-logo.png">
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
                <ul class="">
                    <li class="nav-item">
                        <a class="nav-link" href="aboutus.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Projects </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Solutions</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="contact_us.html">Contact Us</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Sitemap</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#popupModal">Request Quote</a>
                    </li> -->
                </ul>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
                <ul class="">
                    <li class="nav-item">
                        <a class="nav-link" href="term-condition.html">Terms & Conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="privacy-policy.html">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Project Protection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-3 col-lg-3 social-footer">
                <p><strong>VISIT US</strong></p>
                <div class="">
                    <div class="d-inline-block social-icon">
                        <a href=""><img src="assets/images/logo-fb-simple.svg"></a>
                        <div class="middle"></div>
                    </div>
                    <div class="d-inline-block social-icon">
                        <a href="wexosinformaticapvt.ltd@gmail.com" target="_blank"><img src="assets/images/Gmail.svg"></a>
                    </div>
                    <div class="d-inline-block social-icon">
                        <a href="https://twitter.com/Wexos_In" target="_blank"><img src="assets/images/logo-twitter.svg"></a>
                    </div>
                    <div class="d-inline-block social-icon">
                        <a href=""><img src="assets/images/Linkedin.svg"></a>
                    </div>
                    <div class="d-inline-block social-icon">
                        <a href="https://www.instagram.com/wexos_informatica/" target="_blank"><img src="assets/images/Instagram.svg"></a>
                    </div>
                    <div class="d-inline-block social-icon">
                        <a href="https://plus.google.com/111485437012218133013" target="_blank"><img src="assets/images/Google-Plus.svg"></a>
                    </div>
                    <!-- <div class="d-inline-block social-icon">
                        <a href=""><img src="assets/images/Google-Plus.svg"></a>
                    </div> -->
                    <div class="d-inline-block social-icon">
                        <a href="https://in.pinterest.com/wexos" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12 col-md-3 col-lg-3 palce-content">
                <div class="social-places">
                    <h4>Contact us</h4>
                    <div class="social-add">
                        <p><a href="mailto:info@wexos.in" target="_top">info@wexos.in</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 palce-content">
                <h4>Bengaluru</h4>
                <div class="social-add">
                    <p>Unit No:207, 3rd floor, Regent Prime Tech Park, 30 Feet Main Road, Whitefield, Bengaluru, Karnataka,560066</p>
                    <p><a href="tel:+918065595969"> +(91)-8065595969,8065595968</a></p>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 palce-content">
                <h4>United States</h4>
                <div class="social-add">
                    <p>Wexos Informatica Pvt. Ltd.717 North Harwood St.Suite 2100 Dallas,TX 75201</p>
                    <p><a href="tel:+918033051463">+(91)-80-33051463</a></p>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 social-footer palce-content">
                <h4>Hyderabad</h4>
                <div class="social-add">
                    <p>Wexos Informatica Pvt. Ltd. Plot-4 ,4th floor , Advent tower, Kakathiya hills, Madhapur, Telangana,500081.</p>
                    <p><a href="tel:040 48528444">040 48528444</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright">
                        <p class="m-0">Copyrights © 2017 All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>