<section id="navigation" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="index.html"><img id="scroll-Img" src="assets\images\wexos-logo.svg"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active dropdown">
                                <a class="nav-link" id="solution" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solution</a>
                                <div class="dropdown-menu solution" aria-labelledby="solution">
                                    <div class="container-fluid">
                                        <div class="row mb-4 brder-btm">
                                            <div class="col-12 offset-md-1 offset-lg-1 col-md-2 col-lg-2 mb-4 nav-head">
                                                <h3>B2B</h3>
                                                <p>Here's how we grow together as business</p>
                                            </div>
                                            <div class="col-12 col-md-2 col-lg-2 mb-4">
                                                <a href="/solution-b2b-tech-services.html"><h3>Technology Services</h3>
                                                Be it mobile or web application, we got the right talend to convert your ideas into products</a>
                                               <!--  <ul>
                                                    <li><a href="" title="">Web Application Development</a></li>
                                                    <li><a href="" title="">Mobile Application Development</a></li>
                                                    <li><a href=""> Testing</a></li>
                                                </ul> -->
                                            </div>
                                            <div class="col-12 col-md-2 col-lg-2 mb-4">
                                                <a href="/solution-b2b-DM.html"><h3>Digital Marketing</h3>
                                                Visibility of your brand online is the atmost important thing in todays world, we understand that</a>
                                                <!-- <ul>
                                                    <li><a href="" title="">Android</a></li>
                                                    <li><a href="" title="">IOS</a></li>
                                                </ul> -->
                                            </div>
                                            <div class="col-12 col-md-2 col-lg-2 mb-4">
                                                <a href="/solution-b2b-staffing-outsourcing.html"><h3>Staffing & Outsourcing</h3>Human resource is the greatest asset of any company, we can help you find right people</a>
                                                <!-- <ul>
                                                    <li><a href="" title="">Manual</a></li>
                                                    <li><a href="" title="">Automated</a></li>
                                                </ul> -->
                                            </div>
                                            <div class="col-12 col-md-2 col-lg-2 mb-4">
                                                <a href="/solution-b2b-recruitment-consulting.html"><h3>Recruitment & Consulting</h3>
                                                We help our clients to make sure that the fresh talent onboarded is ready to crush it</a>
                                                <!-- <ul>
                                                    <li><a href="" title="">Web Application Development</a></li>
                                                    <li><a href="" title="">Mobile Application Development</a></li>
                                                    <li><a href="" title="">Testing</a></li>
                                                </ul> -->
                                            </div>
                                        </div>
                                        <div class="row b2c">
                                            <div class="col-12 offset-md-1 offset-lg-1 col-md-2 col-lg-2 nav-head">
                                                <h3>B2C</h3>
                                                <p>Here's how we've solved your problems</p>
                                            </div>
                                            <div class="col-12 col-md-2 col-lg-2">
                                                <a href="/solutions-b2c-Kalyanavaibhavam.html"><h3>Kalayanavaibhavam</h3>
                                                A matrimonial web/mobile based application to help traditional matchmakers </a>
                                            </div>
                                            <div class="col-12 col-md-2 col-lg-2">
                                                <a href="/solutions-b2c-credibleminds.html"><h3>CredibleMinds</h3>
                                                For constant learning, knowledge upgrades and certifications in the software domain</a>
                                            </div>
                                            <div class="col-12 col-md-2 col-lg-2">
                                                <a href="/solutions-b2c-hubstree.html"><h3>Hubstree</h3>
                                                Realestate rental management solutions to help landlords and tenants</a>
                                            </div>
                                            <div class="col-12 col-md-2 col-lg-2">
                                                <a href="/solutions-b2c-skysspark.html"><h3>Skysspark</h3>
                                                Getting the right skilled engineers is not a hassle anymore. hire skilled engineers as per your requirement</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="aboutus.html">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="resource.html">Resources</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact_us.html">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link request-a-qoute" href="javascript:void(0);" data-toggle="modal" data-target="#popupModal">Request a Quote</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
<!-- Popup modal -->
<section id="reg-popup">
    <div class="modal fade bd-example-modal-lg" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-xl-6 col-md-6">
                                <object width="325px" height="400px" data="assets/images/home/computer.svg"></object>
                            </div>
                            <div class="col-12 col-xl-6 col-md-6">
                                <h2>Talk To Us</h2>
                                <form action="">
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="" name="first_name" placeholder="First Name" required>
                                        </div>
                                    </div>
                                   <!--  <div class="form-group row">
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="" name="last_name" placeholder="Last Name" required>
                                        </div>
                                    </div> -->
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="" name="Phone_no" placeholder="Phone No." required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <input type="email" class="form-control" id="" name="Email_id" placeholder="Email Id." required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <textarea name="" class="form-control" placeholder="We would love to hear from you" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-default modal-button">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>