@mixin theme-btn($border-color, $radius, $width, $color, $font-size, $font-weight, $line-height, $text-align) {
    border: 2px solid $border-color;
    border-radius: $radius;
    width: $width;
    color: $color !important;
    padding: 10px;
    font-size: $font-size;
    font-family: 'Assistant', sans-serif;
    font-weight: $font-weight !important;
    line-height: $line-height;
    text-align: $text-align;
}

@mixin section_heading($color, $font-size, $letter-spacing, $line-height, $text-align, $font-weight) {
    color: $color;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
    text-align: $text-align;
    font-weight: $font-weight;
}

@mixin btn-gradient($deg, $color1, $per1, $color2, $per2, $color3, $per3) {
    background: linear-gradient($deg, $color1 $per1, $color2 $per2, $color3 $per3);
}

.video-box {
    video {
        width: -webkit-fill-available;
        height: auto;
    }
}

.img-circle-two {
    width: 160px;
    height: 160px;
    padding: 45px 0px;
    border-radius: 50%;
    box-shadow: 0 2px 44px 2px rgba(150, 150, 150, 0.11);
    text-align: center;
    margin: 0 auto;
    @media screen and (max-width: 500px) {
        width: 120px;
        height: 120px;
        padding: 20px 0px;
    }
}

.banner-section-heading {
    color: #7C7C7C;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 44px;
    text-align: left;
    font-weight: 600;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        font-size: 1.8rem;
    }
}

.banner-section-content {
    color: #5C5C5C;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 35px;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        font-size: 1rem;
    }
}

.center-section-heading {
    @include section_heading(#7C7C7C, 2rem, 2px, 44px, center, 600);
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        @include section_heading(#7C7C7C, 1.4rem, 2px, 44px, center, 600);
    }
}

.left-section-heading {
    @include section_heading(#7C7C7C, 2rem, 2px, 44px, left, 600);
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        @include section_heading(#7C7C7C, 1.8rem, 2px, 44px, left, 600);
    }
}

.section-content {
    color: #888787;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8889rem;
    line-height: 30px;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        font-size: 0.8rem;
    }
}

.sub-heading {
    color: #ABABAB;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
}

.img-circle {
    width: 160px;
    height: 160px;
    padding: 45px 0px;
    border-radius: 50%;
    box-shadow: 0 2px 44px 2px rgba(150, 150, 150, 0.11);
    text-align: center;
    margin: 0 auto;
    @media screen and (max-width: 500px) {
        width: 120px;
        height: 120px;
        padding: 30px 0px;
    }
}

.svg {
    width: 70px;
    height: 70px;
}

.btn-banner {
    @include theme-btn(transparent, 20px, fit-content, #E52D78, 1rem, 600, 1rem, center);
    background: #fff;
    margin-top: 20px;
    padding: 10px 40px;
    &:hover {
        background: #E52D78;
        color: #fff!important;
    }
}

.navbar-toggler {
    border: none;
    padding: 0px;
}

@-moz-document url-prefix() {
    .fp-auto-height {
        .fp-tableCell {
            padding: 250px 0px;
        }
    }
    footer {
        &.fp-auto-height {
            .fp-tableCell {
                padding: 0px;
            }
        }
    }
}

// responsive mobile
@media screen and (max-width: 500px) {
    .section {
        margin-top: 40px;
    }
    .banner-section-heading {
        font-size: 1rem;
        letter-spacing: 2px;
        line-height: 26px;
        margin-top: 20px;
    }
    .banner-section-content {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 20px;
    }
    .left-section-heading {
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 26px;
    }
    .section-heading {
        font-size: 1rem;
    }
    .section-content {
        font-size: 0.7rem;
        line-height: 25px;
    }
    .center-section-heading {
        @include section_heading(#2F2F2F, 1rem, 1px, 22px, left, 600);
    }
}

#reg-popup {

    button.close {
        padding: 0px 9px;
        font-size: 1.8rem;
        color: #fff;
    }
    .modal-open .modal {
        z-index: 99999;
    }

    h2.leadform-h1 {
        color: #495057!important;
    }
    h2 {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        font-size: 2.25rem;
        margin-bottom: 20px;
    }
    .modal-header {
        border-bottom: none;
    }
    .modal-dialog {
        min-height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
    }
    .modal-content {
        background: linear-gradient(143.54deg, #E52D78 0%, #E52D78 0.83%, #542971 36.82%, #542970 27%, #4A2970 105%);
    }
    input.form-control {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #ccc;
        background: transparent;
        margin-bottom: 25px;
        color: #fff;
        &:focus {
            box-shadow: none;
        }
    }
    textarea.form-control {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #ccc;
        background: transparent;
        margin-bottom: 25px;
        color: #fff;
        &:focus {
            box-shadow: none;
        }
    }
    input.form-control::-webkit-input-placeholder,textarea.form-control::-webkit-input-placeholder {
        color: #ccc;
        font-size: 0.9rem;
        letter-spacing: 1;
    }
    button.modal-button {
        border: 1px solid #D8D8D8;
        border-radius: 6px;
        background-color: #FFFFFF;
        color: #BBBBBB;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
        padding: 10px 50px 9px 47px;
    }
}

.lead-form {
    background-image: linear-gradient(rgba(74, 41, 112, 0.8901960784313725), rgba(229, 45, 120, 0.8117647058823529)), url(../images/b2b-overlay.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh!important;
    color: #fff;
    form {
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0px 0px 56px -14px #333;
    }
}